aiogram==2.20
cryptoaddress==0.2.1
google-api-core==1.26.3
google-api-python-client==2.2.0
google-auth==1.30.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.4
googleapis-common-protos==1.53.0
httplib2==0.19.1
idna==2.10
motor==3.0.0
oauthlib==3.1.0
packaging==20.9
pyasn1==0.4.8
pyasn1-modules==0.2.8
requests==2.31.0
rsa==4.7.2
six==1.16.0
tenacity==7.0.0
typing-extensions==3.7.4.3
uritemplate==3.0.1
urllib3==1.26.18
yarl==1.6.3
